.navbar {
    background-color: #131516;
    box-shadow: rgb(0, 0, 0) 0 10px 13px -7px, 5px 5px 15px 5px rgba(255, 255, 255, 0);
}

.btn-outline-secondary {
    border-color: #1E2E5F !important;
}

.body {
    background-color: #131516;
}

#video {
    border-bottom: #901612 solid 10px;
    box-shadow: rgb(0, 0, 0) 0 10px 13px -7px, 5px 5px 15px 5px rgba(255, 255, 255, 0);
}

canvas {
    position: absolute;
    left: 164px;
    bottom: 83px;
}

#image-list input {
    width: 100px;
    height: 130px;
}

.btn-outline-success {
    width: 80px;
}

.btn-outline-secondary {
    margin: 5px;
    height: 80%;
}

select {
    background: transparent;
    border: 0;
    color: #D9FFF5;
}

option {
    background: #131516;
    color: #D9FFF5;
}

#confidence-container button {
    background: transparent;
    border: 0;
    color: #D9FFF5;
}

#confidence-container input {
    background: transparent;
    color: #D9FFF5;
    border: 0;
    text-align: center;
}

#confidence-container p {
    color: #D9FFF5;
    margin-right: 20px;
}

#confidence-container i {
    color: #D9FFF5;
}