.navbar {
    background-color: #131516;
    box-shadow: rgb(0, 0, 0) 0 10px 13px -7px, 5px 5px 15px 5px rgba(255, 255, 255, 0);
}

.navbar a {
    color: #6c757d !important;
    text-decoration: none;
}

.navbar .btn-outline-secondary {
    border-color: #1E2E5F !important;
    margin: 5px;
    height: 80%;
}

.body {
    background-image: url("../img/background.jpg");
    background-repeat: repeat;
    background-size: unset;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    color: #6c757d;
}

/*Hide scrollbar ========================================================*/
::-webkit-scrollbar {
    color: transparent;
    max-width: 0;
}

/* hide placeholder when focus ========================================================*/
:focus::-webkit-input-placeholder {
    color: transparent;
}

:focus::-moz-placeholder {
    color: transparent;
}

:focus:-moz-placeholder {
    color: transparent;
}

:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder {
    opacity: 1;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:-moz-placeholder {
    opacity: 1;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
    opacity: 1;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

/* =============================================================================== */