.navbar {
    background-color: #131516;
    box-shadow: rgb(0, 0, 0) 0 10px 13px -7px, 5px 5px 15px 5px rgba(255, 255, 255, 0);}

.navbar a {
    color: #6c757d !important;
    text-decoration: none;
}

.navbar .btn-outline-secondary {
    border-color: #1E2E5F !important;
    margin: 5px;
    height: 80%;
}

.body {
    background-color: #131516;
}

#video {
    border-bottom: #901612 solid 10px;
    box-shadow: rgb(0, 0, 0) 0 10px 13px -7px, 5px 5px 15px 5px rgba(255, 255, 255, 0);
}

canvas {
    position: absolute !important;
}

#image-list input {
    width: 100px;
    height: 130px;
}

.btn-outline-success {
    width: 80px;
}

select {
    background: transparent;
    border: 0;
    color: #6c757d;
}

option {
    background: #131516;
    color: #6c757d;
}

#confidence-container button {
    background: transparent;
    border: 0;
    color: #6c757d;
    height: 30px;
    max-width: fit-content;
}

#confidence-container input {
    background: transparent;
    color: #6c757d;
    border: 0;
    text-align: center;
    height: 25px;
    max-width: fit-content;
}

#confidence-container p {
    color: #6c757d;
    margin-right: 20px;
    margin-top: 0 !important;

}

#confidence-container i {
    color: #6c757d;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    color: #6c757d;
}
