.subject-card {
    margin-top: 10px !important;
    width: 200px !important;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.64);
}

.subject-card img {
    width: 200px;
    height: 230px;
    padding-left: 0px;
    padding-right: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.subject-card input {
    background-color: transparent;
    border: 0px;
    color: #6c757d;
    text-align: center;
}

.subject-card input:focus {
    outline: 0;
}

.subject-card button {
    width: 100%;
    margin-bottom: 3px !important;
}
