#visit-container {
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.64);
}

#visit-container img {
    width: 200px;
    height: 230px;
    padding-left: 0px;
    padding-right: 0px;
}

#visit-container div {
    text-align: center;
    padding: 5px;
    margin-top: 10px !important;
}

#visit-container input {
    background-color: transparent;
    border: 0px;
    color: #6c757d;
    text-align: center;
    
}

#visit-container input:focus {
    outline: 0;
}
