<link rel="stylesheet" href="../css/list.css">
<div class="container clearfix" ng-controller="ListCtrl">
    <div class="row" id="image-list-container" ng-repeat="user in list">
        <div class="col-4">
            <img id="user-list-image" src="{{user.image}}" alt="user">
        </div>
        <div class="col-3 mx-auto">
            <a id="user-list-first-name" href="#">{{user.firstName}}</a>
        </div>
        <div class="col-3 mx-auto">
            <a id="user-list-last-name" href="#">{{user.lastName}}</a>
        </div>
        <div class="col-2">
            <button id="user-list-change">CH</button>
            <button id="user-list-remove">RM</button>
        </div>
    </div>
</div>