<div class="container" id="live">
    <!-- ======================================================= -->
    <div class="container" style="text-align: center">
        <!--PLAYER-->
        <div class="row">
            <div class="col-8 mt-4" id="video-container">
                <video autoplay height="600" id="video" muted playsinline preload="auto" width="790"></video>
                <canvas id="canvas"></canvas>
            </div>
            <div class="col-4 mt-4" id="user-card-container">
                <!--*1-->
                <div class="row d-flex  mb-2" id="user-card-1">
                    <div class="row">
                        <div class="col px-1">
                            <img src="../img/user.png">
                        </div>
                        <div class="col px-1">
                            <input class="mt-4" placeholder="First name"><br>
                            <input class="mt-4" placeholder="Last name">
                            <div class="col mt-2 d-flex justify-content-between">
                                <button class=" m-1 btn btn-success" onclick="submit(1)" type="button">Submit</button>
                                <button class=" m-1 btn btn-danger" onclick="reject(1)" type="button">Reject</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--2-->
                <div class="row d-flex  mb-2" id="user-card-2">
                    <div class="row">
                        <div class="col px-1">
                            <img src="../img/user.png">
                        </div>
                        <div class="col px-1">
                            <input class="mt-4" placeholder="First name"><br>
                            <input class="mt-4" placeholder="Last name">
                            <div class="col mt-2 d-flex justify-content-between">
                                <button class=" m-1 btn btn-success" onclick="submit(2)" type="button">Submit</button>
                                <button class=" m-1 btn btn-danger" onclick="reject(2)" type="button">Reject</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--*3-->
                <div class="row d-flex  mb-2" id="user-card-3">
                    <div class="row">
                        <div class="col px-1">
                            <img src="../img/user.png">
                        </div>
                        <div class="col px-1">
                            <input class="mt-4" placeholder="First name"><br>
                            <input class="mt-4" placeholder="Last name">
                            <div class="col mt-2 d-flex justify-content-between">
                                <button class=" m-1 btn btn-success" onclick="submit(3)" type="button">Submit</button>
                                <button class=" m-1 btn btn-danger" onclick="reject(3)" type="button">Reject</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- CONTROLLERS -->
            <div class="row">
                <!-- face_detector_selection_control -->
                <div class="col">
                    <select class="model-select" id="model" onchange="changeModel()">
                        <option value="ssdMobileNetV1">ssdMobileNetV1</option>
                        <option selected value="tinyFaceDetector">tinyFaceDetector</option>
                    </select>
                </div>
                <!--minConf selection control-->
                <div class="col">
                    <div class="row" id="confidence-container">
                        <p style="width: fit-content">Min confidence</p>
                        <button class="" onclick="decreaseConfidence()" type="button">
                            <span class="material-icons">remove_circle_outline</span>
                        </button>

                        <input
                                disabled
                                id="confidenceOutput"
                                style="width: 60px"
                                type="text"
                                value="0.7"
                        />
                        <button class="" onclick="increaseConfidence()" type="button">
                            <span class="material-icons">add_circle_outline</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>