<div class="container">
    <div class="row">
        <!--PLAYER-->
        <div class="col-auto mt-4 ms-5 ps-2">
            <video autoplay id="video" muted playsinline width="720" height="550"></video>
        </div>
        <!--IMAGE LIST-->
        <div class="col-1 mt-4 mx-2 px-0" id="image-list">
            <!--Output image 1-->
            <input onclick="showForm('form1')" alt="" id="outputImage1" src="" type="image">

            <!--Output image 2-->
            <input onclick="showForm('form2')" alt="" id="outputImage2" src="" type="image">

            <!--Output image 3-->
            <input onclick="showForm('form3')" alt="" id="outputImage3" src="" type="image">

            <!--Output image 4-->
            <input onclick="showForm('form4')" alt="" id="outputImage4" src="" type="image">
        </div>
        <!--FORMS-->
        <div class="col-2 mt-4">
            <!--Form 1-->
            <script>console.log("Form1")</script>
            <form id="form1" style="visibility: visible" class="form d-inline-flex flex-column justify-content-center p-2 mb-2">
                <input class="m-1" type="text" placeholder="First name">
                <input class="m-1" type="text" placeholder="Second name">
                <button type="button" class="btn btn-outline-success mx-auto">Send</button>
            </form>
            <!--Form 2-->
            <script>console.log("Form2")</script>
            <form id="form2" style="visibility: hidden" class="form d-inline-flex flex-column justify-content-center p-2 mb-2">
                <input class="m-1" type="text" placeholder="First name">
                <input class="m-1" type="text" placeholder="Second name">
                <button type="button" class="btn btn-outline-success mx-auto">Send</button>
            </form>
            <!--Form 3-->
            <script>console.log("Form3")</script>
            <form id="form3" style="visibility: hidden" class="form d-inline-flex flex-column justify-content-center p-2 mb-2">
                <input class="m-1" type="text" placeholder="First name">
                <input class="m-1" type="text" placeholder="Second name">
                <button type="button" class="btn btn-outline-success mx-auto">Send</button>
            </form>
            <!--Form 4-->
            <script>console.log("Form4")</script>
            <form id="form4" style="visibility: hidden" class="form d-inline-flex flex-column justify-content-center p-2 mb-2">
                <input class="m-1" type="text" placeholder="First name">
                <input class="m-1" type="text" placeholder="Second name">
                <button type="button" class="btn btn-outline-success mx-auto">Send</button>
            </form>
        </div>
    </div>
</div>