<div class="subject-container">
    <div class="row subject-row ps-3"></div>

    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="emptySubjectAlertModal"tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body" style="text-align: center; color: rgb(139, 0, 0);">
                    <h5>No subjects detected, visit <a data-bs-dismiss="modal" ui-sref="live">LIVE</a> page.</h5>
                </div>
            </div>
        </div>
    </div>
</div>