<div class="visit-list">
    <div class="row" id="visit-container">
        <div class="col">
            <img alt="" src="../img/user.png">
        </div>
        <div class="col">
            <input disabled id="subject-fistName" placeholder="first name">
            <input disabled id="subject-lastName" placeholder="last name">
        </div>
        <div class="col">
            <input disabled id="subject-created" placeholder="created">
        </div>
        <div class="col">
            <img alt="" src="../img/user.png">
        </div>
    </div>
</div>
